#container1 {
    background:white;
}
.active1 {
    background: ;
}

.col-md-2 {
    padding : 0px;
}

.col-md-8 {
    padding : 0px;
}


.box {
background-color: white;
border: 0px 
}

body {
    background-color: white ;
}

.navbar-default .navbar-nav>li>a {
    color: black;
}

li.active1>a, li.active1>a:visted, .active1>a::focus {
    color: white;
}

.carousel{
position: relative;   
}

.carousel-caption {
    right: 20%;
    left: 20%;
    margin-top: 70px;
    top: 70px; 
}

div.img {
    margin: 10px;
    border: 1px solid #ccc;
    float: left;
    width: 300px;
}

div.img:hover {
    border: 1px solid #777;
}

div.img img {
    width: 100%;
    height: auto;
}

div.desc {
    padding: 15px;
    text-align: center;
}

h1 {
    font-family: Brush Script MT;
}


